:root { 
--lime_200:#ebdd90; 
--lime_400:#dec74a; 
--blue_gray_100:#d9d9d9; 
--gray_500:#99a0a8; 
--gray_800:#3a3a3a; 
--amber_600:#d7b600; 
--gray_900:#1a1a1a; 
--red_200:#df9aac; 
--light_green_300:#bdd592; 
--black_900_3f:#0000003f; 
--gray_300:#e1dfdf; 
--teal_200:#8abdd6; 
--green_400:#73ac77; 
--teal_100:#b1cdda; 
--black_900:#000000; 
--light_green_50:#f3f3eb; 
--pink_100:#ebbfc5; 
}