
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/GlutenBold.ttf"); font-family : "Gluten"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SarabunExtraBold.ttf"); font-family : "Sarabun"; font-weight : 800;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RobotoRegular.ttf"); font-family : "Roboto"; font-weight : 400;  }